.page-header__grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  margin: 30px 0;
}

.page-header__menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.page-header__item {
  font-size: 16px;
  text-transform: uppercase;
}

.page-header__item_active {
  color: var(--blue-dark);
}

.page-header__slider {
  width: 100%;
  height: 630px;

  .swiper-pagination {
    top: auto;
    bottom: 10px;
  }
}

.page-header__slider_next,
.page-header__slider_prev {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 56px;
  width: 56px;
  top: calc(50% - 28px);
  border-radius: 50%;
}

.page-header__slide {
  position: relative;
  width: 100%;
  height: 570px;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
}

.page-header__slide:nth-child(1) {
  background-image: url("/images/slider/pages_slide_1.jpg");
}

.page-header__slide:nth-child(2) {
  background-image: url("/images/slider/pages_slide_1.jpg");
}

.page-header__slide:nth-child(3) {
  background-image: url("/images/slider/pages_slide_1.jpg");
}

.page-header__slide-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  padding: 30px 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0 50px 0 50px;

  a {
    display: inline-block;
    margin-top: 15px;
    font-size: 20px;
    color: var(--blue-dark);

    &:hover {
      color: var(--cyan);
    }
  }
}

p.page-header__slide-head {
  font-size: 48px;
  line-height: 1.1;
  font-weight: 300;
  color: var(--cyan);
}

@media (max-width: 1400px) {
  .page-header__grid {
    grid-template-columns: 200px 1fr;
  }

  .page-header__item {
    font-size: 13px;
  }

  .page-header__slider {
    height: 500px;
  }

  .page-header__slide {
    height: 460px;
  }

  p.page-header__slide-head {
    font-size: 32px;
  }

  .page-header__slide-info {
    width: 70%;

    a {
      font-size: 16px;
    }
  }
}

@media (max-width: 960px) {
  .page-header__grid {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }

  .page-header__menu {
    display: none;
  }

  .page-header__slider_next,
  .page-header__slider_prev {
    display: flex;
    height: 36px;
    width: 36px;
  }

  .page-header__slider_next {
    right: 5px;
  }

  .page-header__slider_prev {
    left: 5px;
  }

  .page-header__slide {
    border-radius: 30px;
  }

  .page-header__slide-info {
    width: 90%;
    padding: 10px 20px;
    border-radius: 0 30px 0 30px;

    a {
      font-size: 12px;
    }
  }

  p.page-header__slide-head {
    font-size: 26px;
  }
}