.content__img {
  position: relative;

  img {
    width: 350px;
    height: auto;
    position: absolute;
    right: -360px;
    top: -100px;
  }
}

.content__icons-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0;
  gap: 30px 0;

  .text_big-thin {
    margin: 25px 0 10px;
  }

  img {
    height: 70px;
    width: auto;
  }
}

.content__icon {
  width: 20%;
  text-align: center;
  font-size: 14px;
}

.content__buttons {
  margin: 30px 0;
  display: flex;
}

.vacancy__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 60px;
}

.certificates__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px 50px;
  margin-top: 50px;
}

.certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificate__img {
  height: 350px;
  width: auto;
  margin: 0 auto;
}

.certificate__head,
.certificate__text {
  text-align: center;
}

.certificate__head {
  font-size: 32px;
  margin: 30px 0 20px;
}

.certificate__text {
  font-size: 16px;
}

.certificate__button {
  margin: 40px 0 100px;

  .button {
    width: 500px;
    margin: 0 auto;
  }
}

.about__img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 30px 0 60px;

  img {
    width: 100%;
    height: auto;
    border-radius: 50px;
  }
}

.about__buttons {
  margin: 30px 0;
  display: flex;
}

.about__post {
  position: relative;
  border: 1px solid var(--cyan);
  padding: 30px;
  margin-right: 50px;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.about__angle {
  position: absolute;
  right: -50px;
  bottom: -1px;
  height: auto;
  width: 50px;
}

.about__post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 22px;
  margin-top: 40px;
}

.about__worker {
  margin: 0 10px;
  width: calc(25% - 20px);

  img {
    height: auto;
    width: 100%;
    margin-bottom: 10px;
  }

  p {
    margin: 0;
    font-size: 14px;
  }
}

.about__certificates {
  margin: 50px 0;
}

.about__certificate {
  margin: 0 40px;
  width: calc(33.33% - 80px);
}

p.about__certificate-head {
  margin: 30px 0 10px;
  font-size: 24px;
  font-weight: 600;
}

.workers__nav_next,
.workers__nav_prev,
.certificate__nav_next,
.certificate__nav_prev {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 56px;
  width: 56px;
  border-radius: 50%;
}

.workers__nav_next {
  right: 20px;
}

.workers__nav_prev {
  left: 20px;
}

.about__reviews {
  margin-bottom: 40px;

  .reviews__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1400px) {
  .certificates__grid {
    display: grid;
    gap: 50px 30px;
  }

  .certificate__head {
    font-size: 24px;
    margin: 20px 0 15px;
  }

  .certificate__text {
    font-size: 14px;
  }

  .certificate__img {
    height: 270px;
    width: auto;
    margin: 0 auto;
  }

  .content__img {
    position: relative;
    margin: 30px 0;
    text-align: center;

    img {
      width: 300px;
      position: relative;
      right: auto;
      top: auto;
    }
  }

  .content__icon {
    width: 33.33%;
  }

  .about__img {
    img {
      border-radius: 30px;
    }
  }

  .about__post-info {
    gap: 20px;
    font-size: 18px;
    margin-top: 20px;
  }

  .about__worker {
    width: calc(33.33% - 20px);
  }

  .about__certificate {
    width: calc(50% - 80px);
  }

  p.about__certificate-head {
    margin: 20px 0 10px;
    font-size: 20px;
    font-weight: 600;
  }
}

@media (max-width: 960px) {
  .vacancy__grid {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 40px;
  }

  .certificates__grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .certificate__head {
    font-size: 22px;
    margin: 15px 0 10px;
  }

  .certificate__text {
    font-size: 12px;
  }

  .certificate__button {
    .button {
      width: 100%;
      margin: 0 auto;
    }
  }

  .content__icons-grid {
    img {
      height: 60px;
      width: auto;
    }
  }

  .content__img {
    img {
      width: 60%;
    }
  }

  .content__icon {
    width: 60%;
  }

  .about__img {
    display: grid;
    grid-template-columns: 1fr;
  }

  .about__post-info {
    font-size: 16px;
    align-items: center;
    flex-wrap: wrap;

    img {
      width: 45%;
    }
  }

  .about__post {
    margin-right: 30px;
  }

  .about__angle {
    position: absolute;
    right: -30px;
    width: 30px;
  }

  .about__worker {
    width: calc(75% - 20px);
  }

  .workers__nav_next,
  .workers__nav_prev {
    display: none;
  }

  .certificate__nav_next,
  .certificate__nav_prev {
    width: 34px;
    height: 34px;
  }

  .about__certificate {
    width: calc(100% - 80px);
  }

  .about__reviews {

    .reviews__list {
      grid-template-columns: 1fr;
    }
  }
}