.vacancy__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 60px;
}

@media (max-width: 960px) {
  .vacancy__grid {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 40px;
  }
}