.content__img {
  position: relative;

  img {
    width: 350px;
    height: auto;
    position: absolute;
    right: -360px;
    top: -100px;
  }
}

.content__icons-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0;
  gap: 30px 0;

  .text_big-thin {
    margin: 25px 0 10px;
  }

  img {
    height: 70px;
    width: auto;
  }
}

.content__icon {
  width: 20%;
  text-align: center;
  font-size: 14px;
}

.content__buttons {
  margin: 30px 0;
  display: flex;
}

.vacancy__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 60px;
}

.certificates__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px 50px;
  margin-top: 50px;
}

.certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificate__img {
  height: 350px;
  width: auto;
  margin: 0 auto;
}

.certificate__head,
.certificate__text {
  text-align: center;
}

.certificate__head {
  font-size: 32px;
  margin: 30px 0 20px;
}

.certificate__text {
  font-size: 16px;
}

.certificate__button {
  margin: 40px 0 100px;

  .button {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 1400px) {
  .certificates__grid {
    display: grid;
    gap: 50px 30px;
  }

  .certificate__head {
    font-size: 24px;
    margin: 20px 0 15px;
  }

  .certificate__text {
    font-size: 14px;
  }

  .certificate__img {
    height: 270px;
    width: auto;
    margin: 0 auto;
  }

  .content__img {
    position: relative;
    margin: 30px 0;
    text-align: center;

    img {
      width: 300px;
      position: relative;
      right: auto;
      top: auto;
    }
  }

  .content__icon {
    width: 33.33%;
  }
}


@media (max-width: 960px) {
  .vacancy__grid {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 40px;
  }

  .certificates__grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .certificate__head {
    font-size: 22px;
    margin: 15px 0 10px;
  }

  .certificate__text {
    font-size: 12px;
  }

  .certificate__button {
    .button {
      width: 100%;
      margin: 0 auto;
    }
  }


  .content__icons-grid {
    img {
      height: 60px;
      width: auto;
    }
  }

  .content__img {
    img {
      width: 60%;
    }
  }

  .content__icon {
    width: 60%;
  }
}