<div class="about">
    <div class="container_big">
        <div class="about__header">
            <img src="/images/logo-simple.svg" alt="">

            <h1>НАШИ ОКНА ПРОСЛУЖАТ БОЛЕЕ 20 ЛЕТ <a data-modal-target="call_me" class="button" href="#">Заказать замер</a></h1>
        </div>

        <div class="about__list">
            <div class="about__item">
                <img src="/images/index/about-1.svg" alt="">

                <p>Изготовление и монтаж окна с соблюдением нормативов ГОСТ</p>
            </div>

            <div class="about__item">
                <img src="/images/index/about-2.svg" alt="">

                <p>Оригинальные и проверенные комплектующие</p>
            </div>

            <div class="about__item">
                <img src="/images/index/about-3.svg" alt="">

                <p>Квалифицированный замер и подбор подходящего конструктива</p>
            </div>

            <div class="about__item">
                <img src="/images/index/about-4.svg" alt="">

                <p>Ежедневный контроль качества на всех этапах</p>
            </div>
        </div>
    </div>
</div>