<div class="container_big action">
    <h2>Акции и спецпредложения</h2>

    <div class="action__list swiper">
        <div class="swiper-wrapper">
            <div class="action__item swiper-slide">
                <img src="/images/index/action-1.jpg" alt="">

                <div class="action__text">
                    <p>Гарантированная скидка на весь заказ при оформлении <span>в день замера!</span></p>

                    <img src="/images/index/action-icon-1.svg" alt="">
                </div>
            </div>

            <div class="action__item swiper-slide">
                <img src="/images/index/action-2.jpg" alt="">

                <div class="action__text">
                    <p><span>В Августе</span> каждому покупателю дарим набор по уходу за окнами.</p>

                    <img src="/images/index/action-icon-2.svg" alt="">
                </div>
            </div>

            <div class="action__item swiper-slide">
                <img src="/images/index/action-3.jpg" alt="">

                <div class="action__text">
                    <p>Дарим <span>энергосберегающий</span> стеклопакет на все окна при оформлении заказа в день замера.</p>

                    <img src="/images/index/action-icon-3.svg" alt="">
                </div>
            </div>
        </div>

        <div class="swiper-button-next action__nav_next">
            <img src="/images/icons/arrow-right.svg" alt="">
        </div>
        <div class="swiper-button-prev action__nav_prev">
            <img src="/images/icons/arrow-left.svg" alt="">
        </div>
    </div>
</div>