<div data-modal="call_me" class="modal__wrapper modal__wrapper_hide">
    <div class="modal">
        <div class="modal__header">
            <p>ГОТОВЫ УСТУПИТЬ ЦЕНОЙ, НО НЕ КАЧЕСТВОМ*</p>

            <img src="/images/icons/close.svg" class="modal__close" />
        </div>

        <div class="modal__body">
            <div class="modal__text">
                <div class="modal__head">Заказ замера</div>

                <form class="form">
                    <div data-required class="form__row">
                        <div class="form__hint">Как к вам обращаться?</div>
                        <input type="text" placeholder="ФИО*">
                        <div class="form__error">Поле обязательно</div>
                    </div>

                    <div data-required class="form__row required">
                        <input data-phone type="text" placeholder="Телефон*">
                        <div class="form__error">Поле обязательно</div>
                    </div>

                    <div class="form__row">
                        <input type="text" placeholder="E-mail">
                        <div class="form__error"></div>
                    </div>

                    <div class="form__row">
                        <textarea rows="5" placeholder="Дополнительная информация"></textarea>
                        <div class="form__error"></div>
                    </div>

                    <div class="form__button">
                        <button type="submit" class="button">Заказать замер</button>

                        <p>Нажав кнопку заказать замер, вы соглашаетесь с использованием ваших контактных данных. Мы гаранатируем их безопасность.</p>
                    </div>
                </form>

                <div class="modal__info">
                    <p>*Когда вы сравниваете по цене, сравнивайте одно и тоже:</p>
                    <p><strong>Требуйте развёрнутую спецификацию и Сравнивайте каждый пункт</strong></p>
                    <p>Наша цена всегда окажется в выигрыше при таком подходе. Проверьте!</p>
                </div>
            </div>

            <div class="modal__img"></div>
        </div>
    </div>
</div>