<div class="win-consultation__wrapper">
    <div class="win-consultation__info">
        <div class="win-consultation__head">Как заказать подходящие вам окна?</div>

        <p>Финальная цена окна зависит от выбранного профиля, стеклопакета, размеров, фурнитуры и аксессуаров. Возспользуйтесь бесплатным вызовом замерщика или приходите в наш офис</p>

        <a href="#" class="button">Заказать звонок</a>
    </div>

    <div class="win-consultation__icons">
        <div class="win-consultation__icon">
            <img src="/images/windows/consultation-icon-1.svg" alt="">
            <p>Бесплатная консультация по телефону</p>
        </div>

        <div class="win-consultation__icon">
            <img src="/images/windows/consultation-icon-2.svg" alt="">
            <p>Визит менеджера по замеру</p>
        </div>

        <div class="win-consultation__icon">
            <img src="/images/windows/consultation-icon-3.svg" alt="">
            <p>Утверждение вашего проекта</p>
        </div>

        <div class="win-consultation__icon">
            <img src="/images/windows/consultation-icon-4.svg" alt="">
            <p>Изготовление и монтаж</p>
        </div>
    </div>
</div>