<div class="consultation">
    <div class="consultation__content">
        <div class="consultation__header">Проконсультируйтесь с нашим инженером</div>

        <p>Доверьте остекление своего дома профессионалам! Наш специалист приедет к вам, бесплатно выполнит все необходимые замеры и ответит на любые ваши вопросы. Получите персональные рекомендации по выбору оптимального остекления в удобное для вас время</p>

        <a href="#" class="button">Заказать звонок</a>
    </div>

    <div class="consultation__image">
        <img src="/images/content-logo.svg" alt="">
    </div>
</div>