<div class="example">
    <div class="container_big">
        <h2>Примеры нашей работы</h2>
    </div>

    <div class="example__list swiper">
        <div class="swiper-wrapper">
            <img class="swiper-slide" src="/images/index/example-1.jpg" alt="" />
            <img class="swiper-slide" src="/images/index/example-2.jpg" alt="" />
            <img class="swiper-slide" src="/images/index/example-3.jpg" alt="" />
            <img class="swiper-slide" src="/images/index/example-4.jpg" alt="" />
            <img class="swiper-slide" src="/images/index/example-1.jpg" alt="" />
            <img class="swiper-slide" src="/images/index/example-2.jpg" alt="" />
            <img class="swiper-slide" src="/images/index/example-3.jpg" alt="" />
            <img class="swiper-slide" src="/images/index/example-4.jpg" alt="" />
        </div>

        <div class="swiper-button-next example__nav_next">
            <img src="/images/icons/arrow-right.svg" alt="">
        </div>
        <div class="swiper-button-prev example__nav_prev">
            <img src="/images/icons/arrow-left.svg" alt="">
        </div>
    </div>
</div>