<header>
    <div class="container_big header_main__grid">
        <img class="header__logo" src="/images/logo.svg" >

        <nav class="menu-main">
            <a href="#">Сертификаты</a>
            <a href="#">О компании</a>
            <a href="#">Отзывы</a>
            <a href="#">Акции</a>
            <a href="#">Вакансии</a>
            <a href="#">Сервис</a>
            <a href="#">Контакты</a>
        </nav>

        <a href="#" class="menu-main__mobile">
            <img src="/images/icons/menu.svg" alt="">
        </a>

        <div class="header__contact">
            <div class="header__phone">
                <p>узнать стоимость и вызвать замерщика</p>
                <a href="tel:8 (8442) 60-45-05"><span>8 (8442)</span> 60-45-05</a>
            </div>
            <div class="header__button">
                <a href="#" class="button button_small">
                    Заказать замер
                </a>
            </div>
        </div>
    </div>
</header>

<div class="header_sub">
    <div class="container_big">
        <nav class="menu-sub">
            <div class="menu-sub__item">
                <a href="#" class="menu-sub__item">Пластиковые окна</a>

                <div class="menu-sub__items_sub">
                    <a href="#">ОКНА REHAU BLITZ NEW</a>
                    <a href="#">ОКНА REHAU BRILLIANT-DESIGN</a>
                    <a href="#">ОКНА REHAU DELIGHT-DESIGN</a>
                    <a href="#">ОКНА REHAU GRAZIO</a>
                </div>
            </div>

            <div class="menu-sub__item">
                <a href="#">Алюминиевые окна</a>
            </div>

            <div class="menu-sub__item">
                <a href="#">Остекление балкона</a>
            </div>

            <div class="menu-sub__item">
                <a href="#">Окна в коттедж</a>
            </div>

            <div class="menu-sub__item">
                <a href="#">Двери</a>
            </div>

            <div class="menu-sub__item">
                <a href="#">Для производителей</a>
            </div>
        </nav>
    </div>
</div>