<div class="map">
    <div class="map__buttons">
        <div data-map_target="1" class="map__button">
            <img src="/images/icons/location.svg">
            <p>ул. Елецкая, д. 21, оф. 215. ТЦ "ПАРУС"</p>
        </div>
        <div data-map_target="2" class="map__button">
            <img src="/images/icons/location.svg">
            <p>ул. Карбышева д. 47а ТЦ "ПРОСТОР"</p>
        </div>
    </div>

    <div class="map__wrapper">
        <div data-map="1" class="map__entity">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2a8226760c973f15e264f5b490e12cb98df0d8af345cf35e839b198b7a98ac52&amp;width=100%25&amp;height=375&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>

        <div data-map="2" class="map__entity map__entity_hide">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A43b3a679be23e7bccbdb3b4a2b28527e8f68e7d9998e7d7e6b427ab9162273eb&amp;width=100%25&amp;height=375&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
</div>