<div class="mobile-menu">
    <div class="mobile-menu__header">
        <img src="/images/logo.svg" class="mobile-menu__logo" />

        <a href="#" class="mobile-menu__close">
            <img src="/images/icons/close.svg" />
        </a>
    </div>

    <div class="mobile-menu__content">
        <nav class="mobile-menu__list">
            <a href="#">Сертификаты</a>
            <a href="#">О компании</a>
            <a href="#">Отзывы</a>
            <a href="#">Акции</a>
            <a href="#">Вакансии</a>
            <a href="#">Сервис</a>
            <a href="#">Контакты</a>
        </nav>

        <nav class="mobile-menu__list">
            <a href="#">ПЛАСТИКОВЫЕ ОКНА И ДВЕРИ</a>
            <a href="#">АЛЮМИНИЕВЫЕ ОКНА, ДВЕРИ И ВИТРАЖИ</a>
            <a href="#">ОСТЕКЛЕНИЕ БАЛКОНОВ И ЛОДЖИЙ</a>
            <a href="#">ПЕРЕГОРОДКИ</a>
            <a href="#">ПОДОКОННИКИ</a>
            <a href="#">КОМПЛЕКТУЮЩИЕ ДЛЯ ПРОИЗВОДСТВА ПЛАСТИКОВЫХ ОКОН</a>
        </nav>
    </div>

    <div class="mobile-menu__contact">
        <div class="mobile-menu__phone">
            <p>узнать стоимость и вызвать замерщика</p>
            <a href="tel:8 (8442) 60-45-05"><span>8 (8442)</span> 60-45-05</a>
        </div>
        <div class="mobile-menu__button">
            <a href="#" class="button button_small">
                Заказать замер
            </a>
        </div>
    </div>
</div>