<div class="page-header">
    <div class="container_big page-header__grid">
        <div class="page-header__menu">
            <a href="#" class="page-header__item">Сертификаты</a>
            <a href="#" class="page-header__item">О компании</a>
            <a href="#" class="page-header__item">Отзывы</a>
            <a href="#" class="page-header__item">Акции</a>
            <a href="#" class="page-header__item">Вакансии</a>
            <a href="#" class="page-header__item page-header__item_active">Сервис</a>
            <a href="#" class="page-header__item">Контакты</a>
        </div>

        <div class="page-header__slider swiper">
            <div class="swiper-wrapper">
                <div class="page-header__slide swiper-slide">
                    <div class="page-header__slide-info">
                        <p class="page-header__slide-head">Наш опыт для выбора вашего Идеального окна:</p>
                        <a href="#">Инженер предложит подходящий конструктив: Чтобы не переплачивать лишнее, чтобы не столкнуться с проблемами в использовании</a>
                    </div>
                </div>

                <div class="page-header__slide swiper-slide">
                    <div class="page-header__slide-info">
                        <p class="page-header__slide-head">Наш опыт для выбора вашего Идеального окна:</p>
                        <a href="#">Инженер предложит подходящий конструктив: Чтобы не переплачивать лишнее, чтобы не столкнуться с проблемами в использовании</a>
                    </div>
                </div>

                <div class="page-header__slide swiper-slide">
                    <div class="page-header__slide-info">
                        <p class="page-header__slide-head">Наш опыт для выбора вашего Идеального окна:</p>
                        <a href="#">Инженер предложит подходящий конструктив: Чтобы не переплачивать лишнее, чтобы не столкнуться с проблемами в использовании</a>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next page-header__slider_next">
                <img src="/images/icons/arrow-right.svg" alt="">
            </div>
            <div class="swiper-button-prev page-header__slider_prev">
                <img src="/images/icons/arrow-left.svg" alt="">
            </div>
            <div class="swiper-pagination page-header__slider-pagination"></div>
        </div>
    </div>
</div>