<div class="production">
    <div class="container_big">
        <h1>ОКНА ОТ ПРОИЗВОДИ&shy;ТЕЛЯ</h1>
        <p>Собственное производство в Волгограде с 2007 года.</p>

        <div class="production__img"></div>

        <div class="production__faq">
            <h2>Что гарантирует вам тепло и уют ваших окон:</h2>

            <div class="production__list">
                <div class="production__item">
                    <span>01</span>
                    <span>Профиль</span>
                    <span>+</span>
                </div>
                <div class="production__item">
                    <span>02</span>
                    <span>Улучшенный конструктив крепления</span>
                    <span>+</span>
                </div>
                <div class="production__item">
                    <span>03</span>
                    <span>Армирование</span>
                    <span>+</span>
                </div>
                <div class="production__item">
                    <span>04</span>
                    <span>Уплотнитель</span>
                    <span>+</span>
                </div>
                <div class="production__item">
                    <span>05</span>
                    <span>Комплектующие</span>
                    <span>+</span>
                </div>
                <div class="production__item">
                    <span>06</span>
                    <span>Стеклопакет</span>
                    <span>+</span>
                </div>
                <div class="production__item">
                    <span>07</span>
                    <span>Изготовление готового окна</span>
                    <span>+</span>
                </div>
                <div class="production__item">
                    <span>08</span>
                    <span>Монтаж</span>
                    <span>+</span>
                </div>
            </div>
        </div>
    </div>
</div>