<div class="reviews">
    <div class="container_big">
        <h2>Отзывы</h2>

        <div class="reviews__list">
            <div class="reviews__item">
                <div class="reviews__header">
                    <img src="/images/index/reviews-avatar.png" alt="">

                    <div>
                        <p>Ксения Багаева</p>
                        <p>Limabrand</p>
                    </div>
                </div>
                
                <div class="reviews__body">
                    Всегда, очень тщательно подхожу к выбору вещей, услуг и т.п. Так и в случае с обращением в КАТОНу долго изучал все возможные варианты и по соотношению цена/качество выбрал именно эту компанию. Если кратко — ни разу не пожалел о своем выборе. Понравилось все, начиная от консультации и замера, заканчивая оплатой и монтажом
                </div>
                
                <div class="reviews__stars">
                    <div class="reviews__star">
                        <img src="/images/icons/star.svg" alt="">
                    </div>
                    <div class="reviews__star">
                        <img src="/images/icons/star.svg" alt="">
                    </div>
                    <div class="reviews__star">
                        <img src="/images/icons/star.svg" alt="">
                    </div>
                    <div class="reviews__star">
                        <img src="/images/icons/star.svg" alt="">
                    </div>
                    <div class="reviews__star">
                        <img src="/images/icons/star.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__header">
                    <img src="/images/index/reviews-avatar.png" alt="">

                    <div>
                        <p>Ксения Багаева</p>
                        <p>Limabrand</p>
                    </div>
                </div>

                <div class="reviews__body">
                    Всегда, очень тщательно подхожу к выбору вещей, услуг и т.п. Так и в случае с обращением в КАТОНу долго изучал все возможные варианты и по соотношению цена/качество выбрал именно эту компанию. Если кратко — ни разу не пожалел о своем выборе. Понравилось все, начиная от консультации и замера, заканчивая оплатой и монтажом
                </div>

                <div class="reviews__stars">
                    <div class="reviews__star">
                        <img src="/images/icons/star.svg" alt="">
                        <img src="/images/icons/star.svg" alt="">
                        <img src="/images/icons/star.svg" alt="">
                        <img src="/images/icons/star.svg" alt="">
                        <img src="/images/icons/star.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__header">
                    <img src="/images/index/reviews-avatar.png" alt="">

                    <div>
                        <p>Ксения Багаева</p>
                        <p>Limabrand</p>
                    </div>
                </div>

                <div class="reviews__body">
                    Всегда, очень тщательно подхожу к выбору вещей, услуг и т.п. Так и в случае с обращением в КАТОНу долго изучал все возможные варианты и по соотношению цена/качество выбрал именно эту компанию. Если кратко — ни разу не пожалел о своем выборе. Понравилось все, начиная от консультации и замера, заканчивая оплатой и монтажом
                </div>

                <div class="reviews__stars">
                    <div class="reviews__star">
                        <img src="/images/icons/star.svg" alt="">
                        <img src="/images/icons/star.svg" alt="">
                        <img src="/images/icons/star.svg" alt="">
                        <img src="/images/icons/star.svg" alt="">
                        <img src="/images/icons/star.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="reviews__button">
            <a href="#" class="button">Загрузить еще</a>
        </div>
    </div>
</div>