<div class="steps">
    <div class="container_big">
        <h2>Этапы работ</h2>

        <div class="steps__list">
            <div class="steps__item">
                <img src="/images/index/steps-1.svg" alt="">
                <div class="steps__header">Замер</div>
                <p>бесплатный, гарантирует точную стоимость и подходящую именно вам комплектацию</p>
                <a href="#" class="button">Заказать замер</a>
            </div>

            <div class="steps__item">
                <img src="/images/index/steps-2.svg" alt="">
                <div class="steps__header">Договор</div>
                <p>согласовываем детали заказа, планируем доставку и монтаж</p>
            </div>

            <div class="steps__item">
                <img src="/images/index/steps-3.svg" alt="">
                <div class="steps__header">Изготовление</div>
                <p>белые окна мы изготовим за неделю, а на цветные срок от 10 дней</p>
            </div>

            <div class="steps__item">
                <img src="/images/index/steps-4.svg" alt="">
                <div class="steps__header">Установка</div>
                <p>соблюдаем нормативы ГОСТ, что гарантирует вам наибольший срок эксплуатации</p>
            </div>

            <div class="steps__item">
                <img src="/images/index/steps-5.svg" alt="">
                <div class="steps__header">Отделка откосов</div>
                <p>завершающий этап, который обеспечит эстетику и тепло окна</p>
            </div>
        </div>
    </div>
</div>